{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {

        }
    },
    "rules": {
        "semi": 2,
        "bdd/focus": 1,
        "bdd/exclude": 1
    },
    "plugins": [
        "bdd"
    ],
    "globals": {
        "context": true
    }
}
